body{
    background-color: black;
    color: white;
    height: 98vh;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

#centered-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2em;
}

#centered-container *{
    margin-top: 50px;
    margin-bottom: 0%;
}